<% provide(:title, "Signup") %>
<div class="row">
    <h1>Sign up</h1>
    

    <%= render 'form', user: @user %>


    <div class="back-btn-align">
        <br>
        <%= link_to 'Go back', users_path %>
    </div>
</div>
